<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socket.IO chat</title>
  <link rel="stylesheet" href="/css">
</head>

<body>
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="m" autocomplete="off" placeholder="Type a message..." /><button>Send</button>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/appwrite@13.0.1"></script>
  <script type="module">
    // Function to add a message to the list with timestamp
    function addMessage(message) {
      var messagesList = document.getElementById('messages');
      var messageItem = document.createElement('li');
      messageItem.classList.add('message-item');

      var messageText = document.createTextNode(message.data);
      var timestamp = document.createElement('span');
      timestamp.classList.add('timestamp');
      var timestampText = document.createTextNode(message.timestamp);
      timestamp.appendChild(timestampText);
      // Add styling to timestamp
      timestamp.style.cssText = 'text-align: right; float: right;';
      messageItem.appendChild(messageText);
      messageItem.appendChild(timestamp);

      messagesList.appendChild(messageItem);
    }

    var socket = io();

    // Initialize the AppWrite client
    const client = new Appwrite.Client();


    client.setEndpoint('https://cloud.appwrite.io/v1'); // Your Appwrite Endpoint
    client.setProject('privatetable-chat'); // Your project ID


    // Initialize Database service
    const database = new Appwrite.Databases(client, "chat-msgs");


    // Event listener for form submission
    document.getElementById('form').addEventListener('submit', function (e) {
      e.preventDefault();
      socket.emit('chat_message', document.getElementById('m').value);
      document.getElementById('m').value = '';
      return false;
    });

    // Event listener for receiving messages
    socket.on('message', function (message) {
      addMessage(JSON.parse(message));
    });

    // Function to fetch messages from AppWrite
    function fetchMessages() {
      database.listDocuments("chat-msgs", "chat-msgs-collection")
        .then(function (response) {
          console.log(response)
          var messagesList = document.getElementById('messages');
          messagesList.innerHTML = ''; // Clear existing messages

          // Add each message to the list
          response.documents.forEach(function (document) {
            addMessage({
              timestamp: timestamp,
              data: message
            });
          });
        })
        .catch(function (error) {
          console.error('Error fetching messages from Cloud: ', error);
        });
    }

    // Call fetchMessages when the page loads to load existing messages
    fetchMessages();
  </script>
</body>

</html>