<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socket.IO chat</title>
  <link rel="stylesheet" href="/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <button onclick="location.reload();" class="reload-button">
    <i class="fa-solid fa-arrows-rotate"></i>
  </button>
  <ul id="messages"></ul>

  <div class="gridContainer">

    <form id="form" action="">
      <div id="filePreview"></div>
      <input type="file" id="fileUploader">
      <label id="fileUploadLabel" class="custom-file-upload">
        <i class="fa-solid fa-arrow-up-from-bracket" style="fill:white"></i>
        Upload File
      </label>
      <input id="m" autocomplete="off" placeholder="Type a message..." />
      <button>
        <i class="fa-solid fa-paper-plane" style="fill: white"></i>
        Send
      </button>
    </form>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/appwrite@13.0.1"></script>
  <script type="module">
    // Helper function to split the message into chunks of 120 characters
    function splitIntoChunks(str, len) {
      var regex = new RegExp('.{' + len + '}|.{1,' + Number(len - 1) + '}', 'g');
      return str.match(regex);
    }

    function addMessage(message) {
      var messagesList = document.getElementById('messages');
      var messageItem = document.createElement('li');
      messageItem.classList.add('message-item');

      // Create an img element if an image URL is provided
      if (message.imageUrl) {
        var imgElement = document.createElement('img');
        imgElement.src = message.imageUrl;
        imgElement.style.cssText = 'max-width: 200px; height: auto;';
        messageItem.appendChild(imgElement);
      }

      // Split the message into chunks of 120 characters
      var messageChunks = splitIntoChunks(message.data, 120);

      // Create a div for each chunk of message
      messageChunks.forEach(chunk => {
        var messageDiv = document.createElement('div');
        messageDiv.style.cssText = 'word-wrap: break-word; display: flex;';

        // Create a span for each line of the chunk
        chunk.split('\n').forEach(line => {
          var lineDiv = document.createElement('div');
          var messageText = document.createTextNode(line);
          lineDiv.appendChild(messageText);
          messageDiv.appendChild(lineDiv);
        });

        messageItem.appendChild(messageDiv);
      });

      var timestamp = document.createElement('span');
      timestamp.classList.add('timestamp');
      timestamp.style.cssText = 'text-align: right;';

      var timestampText = document.createTextNode(message.timestamp);
      timestamp.appendChild(timestampText);

      messageItem.appendChild(timestamp);

      messagesList.appendChild(messageItem);
    }

    var socket = io();

    // Initialize the AppWrite client
    const client = new Appwrite.Client();
    client.setEndpoint('https://cloud.appwrite.io/v1'); // Your Appwrite Endpoint
    client.setProject('privatetable-chat'); // Your project ID

    // Initialize Database service
    const database = new Appwrite.Databases(client, "chat-msgs");

    // Event listener for form submission
    document.getElementById('form').addEventListener('submit', function (e) {
      e.preventDefault();
      var message = document.getElementById('m').value;
      var file = document.getElementById('fileUploader').files[0];

      if (file) {
        // Create a new FileReader instance
        var reader = new FileReader();

        reader.onload = function (event) {
          // The file's data as an ArrayBuffer
          var arrayBuffer = event.target.result;

          // If a file is selected, upload it and send the message along with the file
          var data = [
            message, // The chat message associated with the img
            arrayBuffer, // the Binary data
            file.name // the name of the file
          ];

          socket.emit('file_upload', data);
        };

        // Read the file as an ArrayBuffer
        reader.readAsArrayBuffer(file);

      } else {
        // If no file is selected, just send the message
        socket.emit('chat_message', message);
      }

      document.getElementById('m').value = '';
      return false;
    });

    // Event listener for receiving messages
    socket.on('message', function (message) {
      addMessage(JSON.parse(message));
    });

    // Function to fetch messages from AppWrite
    function fetchMessages() {
      database.listDocuments("chat-msgs", "chat-msgs-collection")
        .then(function (response) {
          var messagesList = document.getElementById('messages');
          messagesList.innerHTML = ''; // Clear existing messages

          // Add each message to the list
          response.documents.forEach(function (document) {
            var timestamp = document.timestamp; // Assuming timestamp is a property of the document
            var messageContent = document.message; // Replace with the actual property name
            var imageUrl = document.image_url || null; // Get the image URL

            addMessage({
              timestamp: timestamp,
              data: messageContent,
              imageUrl: imageUrl
            });
          });
        })
        .catch(function (error) {
          console.error('Error fetching messages from Cloud: ', error);
        });
    }

    // Call fetchMessages when the page loads to load existing messages
    fetchMessages();

    // Handle the uploading
    document.getElementById('form').addEventListener('submit', function (e) {
      e.preventDefault();
      var file = document.getElementById('fileUploader').files[0];
      socket.emit('file_upload', file);
    });

    // Preview of file
    document.getElementById('fileUploader').addEventListener('change', function (e) {
      // Clear the old image preview
      document.getElementById('filePreview').innerHTML = '';

      // Get the selected file
      var file = e.target.files[0];

      // Check if the file is an image
      if (file.type.startsWith('image/')) {
        // Create a URL for the file
        var url = URL.createObjectURL(file);

        // Create an img element and set its src attribute to the file URL
        var imgElement = document.createElement('img');
        imgElement.src = url;
        imgElement.style = "max-height: 200px; max-width: 200px; display: block; align-self: flex-end;"

        // Append the img element to the document
        document
          .getElementById("filePreview")
          .appendChild(imgElement);
      } else {
        // For non-image files, display a generic icon

        // Calculate the font size based on the length of the file name and the SVG dimensions
        var maxWidth = 200; // Maximum width of the SVG
        var maxHeight = 200; // Maximum height of the SVG
        var fontSize = Math.min(maxWidth / file.name.length, maxHeight);


        var svgElement = document.createElementNS("http://www.w3.org/2000/svg", "svg");
        svgElement.setAttribute("style", "max-height: 200px; max-width: 200px;");
        svgElement.setAttribute("viewBox", "0 0 24 24");

        // Create path element for the generic icon
        var pathElement = document.createElementNS("http://www.w3.org/2000/svg", "path");
        pathElement.setAttribute("d",
          "M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12z"
        );
        pathElement.setAttribute("fill", "#42a5f5");


        // Create text element for the file name with dynamically calculated font size
        var textElement = document.createElementNS("http://www.w3.org/2000/svg", "text");
        textElement.setAttribute("class", "svg-font");
        textElement.setAttribute("font-size", "2px"); // Set the font size
        textElement.setAttribute("x", "50%");
        textElement.setAttribute("y", "20"); // Center the text vertically
        textElement.setAttribute("dominant-baseline", "middle");
        textElement.setAttribute("text-anchor", "middle");

        // truncate the file name if it is longer than 9 chars
        function truncateFileName(fileName, maxLength) {
          const extensionIndex = fileName.lastIndexOf('.');
          if (extensionIndex === -1) {
            // No file extension found
            return fileName.length > maxLength ? fileName.substring(0, maxLength - 3) + '...' : fileName;
          }

          const nameWithoutExtension = fileName.substring(0, extensionIndex);
          const extension = fileName.substring(extensionIndex + 1);

          if (nameWithoutExtension.length > maxLength) {
            const truncatedName = nameWithoutExtension.substring(0, maxLength - 3) + '...';
            return truncatedName + '.' + extension;
          }

          return fileName;
        }


        textElement.textContent = truncateFileName(file.name, 13);

        // Append path and text elements to the svg element
        svgElement.appendChild(pathElement);
        svgElement.appendChild(textElement);

        // Append the svg element to the document
        document.getElementById("filePreview").appendChild(svgElement);

      }
    });

    document.querySelector('.custom-file-upload').addEventListener('click', function () {
      document.getElementById('fileUploader').click();
    });
  </script>


  </script>
</body>

</html>